[Unit]
Description=Kindle Highlights Sync Service
After=network.target

[Service]
Type=simple
User=jopus
ExecStart=/home/jopus/Blog/kindle/kindle-sync-service.sh
Restart=no

[Install]
WantedBy=multi-user.target